@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
	margin:0;
	padding:0;
	font-family:'Poppins',sans-serif ;
	font-size: 18px;
	box-sizing:border-box;
}

body {
	background: url("../resources/background.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
        }
.app{
	background:#fff;
	width:90%;
	height:80%;
	max-width:600px;
	min-width: 500px;
	height: 750px; 
	max-height: 750px;
	border-radius:10px;
	padding:30px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.app h1{	
	font-size:25px;
	color:black;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom:30 px;
}


.quiz h2{
	font-size: 18px;
	color:black;
	font-weight:600;
}

 #draggableContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            float: center;
            flex-wrap: nowrap;
            gap: 7rem;
            margin: 50px auto;
        }  
    
.dropContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 5rem;
}    

.dropContainer label {
	
	text-align: center;
	display: block;
	float: center;
	margin: 0 auto;
	color: gray;
	font-size: 20px;
}
        
.form-class {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.draggable {
            width: 100px;
            height: 100px;
            margin: 5px 0; /* Adjust the margin as needed */
            cursor: move;
        }
.drop-box {
            width: 120px;
            height: 120px;
            border: 2px dashed #000;
            margin: 5px 0; /* Adjust the margin as needed */
        }
        
       
.progress{
    width:185px;
    height:30px;
    background:gray;
    margin-bottom:50px;
    position:relative;
}

.progress-inner{
    background: green;
    position:absolute;
    width:100%;
    height:100%;
}
       
        
#next-btn, #reset-btn {
	background:grey ;
	color:white;
	font-weight:500;
	width:150px;
	border:0;
	padding:15px;
	margin: 0 auto;
	border-radius: 4px;
	cursor: pointer;
	display:block;
	position:relative;
	top: 12%;
}
